<section id="schedule" class="gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 centered">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 centered">
          <p class="section-title">About</p>
          <h2 class="section-heading"></h2>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-lg-12 col-md-12" style="background-color: #fff; padding: 45px;">
        <div class="gdg_loading" ng-show="loading"></div>
        <p>GDG Chicago and Chicago West Description</p>
        <p>GDG Chicago and Chicago West Description</p>
        <p>GDG Chicago and Chicago West Description</p>
      </div>
    </div>

  </div>
</section>