<div class="header" ng-cloak="" ng-controller="HeaderCtrl">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="hidden-sm hidden-xs navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">{{ site.eventName }}</a>
      </div>
      <div class="hidden-lg hidden-md navbar-header navbar-right">
        <a class="navbar-brand pull-left" href="/">{{ site.eventName }}</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse navbar-right" id="devfest-navbar">
        <ul class="nav navbar-nav">
          <li ng-class="{ active: isActive('/')}"><a href="/" data-toggle="collapse" data-target=".navbar-collapse.in">Home</a></li>
          <li ng-class="{ active: isActive('/schedule')}"><a href="/schedule" data-toggle="collapse" data-target=".navbar-collapse.in">Schedule</a></li>
          <li ng-class="{ active: isActive('/speakers')}"><a href="/speakers" data-toggle="collapse" data-target=".navbar-collapse.in">Speakers</a></li>
          <li><a href="/?#sponsors" data-toggle="collapse" data-target=".navbar-collapse.in">Sponsors</a></li>
          <li ng-class="{ active: isActive('/about')}"><a href="/about" data-toggle="collapse" data-target=".navbar-collapse.in">About</a></li>
          <li ng-hide-auth="" ng-class="{ active: isActive('/login')}"><a href="/login" data-toggle="collapse" data-target=".navbar-collapse.in">Log In</a></li>
          <li ng-show-auth=""><a href ng-click="logout()" data-toggle="collapse" data-target="#devfest-navbar">Log Out</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>